@import "../variables";

.weatherCard {
  background-color: blue;
  cursor: pointer;
  width: 250px;
  height: 250px;
  color: white;
  border-radius: 5%;
}

.weatherDate {
  font-size: $card-time-date;
  font-weight: 500;
  margin-bottom: $half-spacing;
  padding-left: $base-spacing;
}

.weatherTemp {
  font-size: $big-card-temp;
  font-weight: $bold-font-weight;
  padding-left: $base-spacing;
}

.weatherIcon {
  width: 100px;
  height: 100px;
}

.weatherDescription {
  font-size: $card-temp-description;
  padding-left: $base-spacing;
}