@import "../variables";

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  font-size: $h1;
  margin-bottom: calc($base-spacing * 3);
  text-align: center;
}

.weathersContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: calc($half-spacing * 1.5);

  & > div {
    align-self: center;
    margin-bottom: $double-spacing;
    margin-right: $double-spacing;
  }

  @media (max-width: $tablet) {
    flex-direction: column;

    & > div {
      margin-right: 0;
    }
  }
}