/* COLORS */
$base-color: blue;
$secondary-color: aqua;

/* SPACINGS */
$half-spacing: 0.5rem;
$base-spacing: 1rem;
$double-spacing: 2rem;

/* BRAKE POINTS */
$phone: 375px;
$tablet: 768px;

/* FONT SIZES */
$h1: 64px;
$h2: 46px;
$card-time-date: 18px;
$card-temp: 24px;

/* FONT WEIGHTS */
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 600;